* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main {
  background-color: #40679e;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 30px #0091ff, 0px 0px 60px #00ffc8;
}

.searchBox {
  position: relative;
  margin-bottom: 20px;
}

#search {
  width: 100%;
  border: none;
  border-radius: 12px;
  height: 30px;
  padding-left: 5px;
}

#searchBtn {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 0;
  right: 0;
  border: none;
  border-radius: 12px;
}
